<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<section ng-controller="questionCtrl">
	<!-- -->

	<div class="row" ng-controller="CoursController" >
		
		<div class="col-lg-2">
			<div ng-include src="'app/views/forms/Cours_form.html'"></div>
		</div>


		<!-- listes des questions du Topic  -->

		<section class="col-lg-10">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel-primary panel-default">
						<div class="panel-heading">
						
						</div>
							
					
						<div class="panel-body">
						<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>#</th>
											<th>Firstname</th>
											<th>Lastname</th>
											<th>Age</th>
											<th>City</th>
											<th>Country</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Anna</td>
											<td>Pitt</td>
											<td>35</td>
											<td>New York</td>
											<td>USA</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Anna</td>
											<td>Pitt</td>
											<td>35</td>
											<td>New York</td>
											<td>USA</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Anna</td>
											<td>Pitt</td>
											<td>35</td>
											<td>New York</td>
											<td>USA</td>
										</tr>
									</tbody>

								</table>
							</div>
						
						</div>
					</div>
				</div>


			</div>
		</section>

	</div>
</section>
