<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<section>
	<div class="row">
		<div class="col-sm-2">
			<h6>Questions :</h6>
			<div ng-include src="'app/views/forms/Question_form.html'"></div>
			<div ng-include src="'app/views/forms/Sequence_form.html'"></div>
			<div ng-include src="'app/views/forms/Topic_form.html'"></div>
		</div>

		<section class="col-sm-10">
			<div class="row">

				<!--  Topics  -->

				<div class="col-sm-6 ">
					<div class="form-group">
						<div class="input-group">
							<ui-select ng-model="topicChoosen" theme="bootstrap"
								ng-change="refreshQuestions(topicChoosen)"> <ui-select-match
								placeholder="Select topic...">{{topicChoosen.name}}</ui-select-match>
							<ui-select-choices
								repeat=" topic in listOfTopics | filter: $select.search">
							<span ng-bind-html="topic.name | highlight: $select.search"></span>
							</ui-select-choices> </ui-select>
							<div
								class="btn btn-primary input-group-addon glyphicon glyphicon-plus"
								ng-click="openTopicModal('Create topic')"></div>
							<div
								class="btn btn-primary input-group-addon glyphicon glyphicon-pencil"
								ng-click="openTopicModal('Edit topic')"></div>
							<div
								class="btn btn-danger input-group-addon glyphicon glyphicon-remove"
								ng-click="deleteTopic()"></div>
						</div>
					</div>
					<div class="form-group ">
						<textarea class="form-control disabled" cols="40" id="textarea"
							name="textarea" rows="4" readonly>{{selectedTopic.description}}</textarea>
					</div>
				</div>




				<!--  Sequences -->


				<div class="col-sm-6 ">
					<div class="form-group">
						<div class="input-group">
							<ui-select ng-model="sequenceChoosen" theme="bootstrap"
								ng-change="chargeSelectedSequence(sequenceChoosen)">
							<ui-select-match placeholder="Select sequence...">{{sequenceChoosen.name}}</ui-select-match>
							<ui-select-choices
								repeat="sequence in listOfSequences| filter: $select.search">
							<span ng-bind-html="sequence.name | highlight: $select.search"></span>
							</ui-select-choices> </ui-select>
							<div
								class="btn btn-primary input-group-addon glyphicon glyphicon-plus"
								ng-click="openSequenceModal('Create sequence')"></div>
							<div
								class="btn btn-primary input-group-addon glyphicon glyphicon-pencil"
								ng-click="openSequenceModal('Edit sequence')"></div>
							<div
								class="btn btn-danger input-group-addon glyphicon glyphicon-remove"
								ng-click="deleteSequence()"></div>

						</div>
					</div>
					<div class="form-group ">
						<textarea class="form-control disabled" cols="40" id="textarea"
							name="textarea" rows="4" readonly>{{selectedSequence.description}}</textarea>
					</div>
				</div>


			</div>


			<div class="row">

				<!--  Topics Questions -->

				<div class="col-sm-6">
					<div class="panel-primary panel-default">

						<div class="panel-body">

							<table class="table">
								<thead>
									<tr>
										<th>title</th>
										<th>time</th>
										<th>points</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="question in listOfQuestions| orderBy : 'position'"
										ng-click="selectQuestion(question)"
										ng-class="{success: question.id == selectedQuestion.id}">
										<td>{{question.title}}</td>
										<td>{{question.timeToAnswer}}</td>
										<td>{{question.points}}</td>
                                                                                <td>
                                                                                    <div ng-include src="'app/views/forms/Question_prewiew.html'"></div>
                                                                                    <button type="button" class="btn  pull-left btn-sm glyphicon glyphicon-zoom-in" ng-click="openQuestionPreviewModal (question )"></button>
                                                                                </td>
										<td><button id="addToSequence" name="addToSequence"
												class="btn btn-primary btn-sm pull-right glyphicon glyphicon glyphicon-hand-right"
												ng-click="addToSequence(question)" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<!--  Sequence Questions -->

				<div class="col-sm-6">
					<div class="panel-primary panel-default">

						<div class="panel-body">


							<table class="table">
								<thead>
									<tr>
										<th>title</th>
										<th>time</th>
										<th>points</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="question in selectedSequence.questions| orderBy : 'positionInSequence'"
										ng-click="selectQuestion(question)"
										ng-class="{success: question.id == selectedQuestion.id}">
										<td>{{question.title}}</td>
										<td>{{question.timeToAnswer}}</td>
										<td>{{question.points}}</td>
                                                                                <td>
                                                                                    <div ng-include src="'app/views/forms/Question_prewiew.html'"></div>
                                                                                    <button type="button" class="btn  pull-left btn-sm glyphicon glyphicon-zoom-in" ng-click="openQuestionPreviewModal (question )"></button>
                                                                                </td>
										<td><button id="addToSequence" name="addToSequence"
												class="btn btn-danger btn-sm pull-right glyphicon glyphicon-remove"
												ng-click="removeFromSequence(question)" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
		</section>
	</div>
</section>





