<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<section >
    <div class="row" >
        <div class="col-sm-2">
            <h6>Questions :</h6>
            <div ng-include src="'app/views/forms/Question_form.html'"></div>
        </div>

        <section class="col-sm-10">
            <div class="row">

                <!--  Topics  -->

                <div class="col-sm-5 ">
                    <div class="form-group ">
                        <input class="form-control  disabled" id="name" name="name" type="text" value='Topic : {{selectedTopic.name}} ' readonly> 
                    </div>
                    <div class="form-group ">
                        <textarea class="form-control disabled" cols="40" id="textarea" name="textarea" rows="4"  readonly>{{selectedTopic.description}}</textarea>       
                    </div>
                </div> 

                <div class="col-sm-1">
                    <!-- <label class="control-label pull-left"> <h6>Topic :</h6> </label>style="width:2px" -->
                    <select class="pull-right form-control"  ng-change="refreshQuestions()" ng-options="topic.name for topic in listOfTopics" ng-model="selectedTopic"></select> 
                    <div ng-include src="'app/views/forms/Topic_form.html'"></div>
                </div>

                <!--  Sequences -->


                <div class="col-sm-5 ">
                    <div class="form-group ">
                        <input class="form-control  disabled" id="name" name="name" type="text"value='Sequence : {{selectedSequence.name}} ' readonly> 
                    </div>
                    <div class="form-group ">
                        <textarea class="form-control disabled" cols="40" id="textarea" name="textarea" rows="4"  readonly>{{selectedSequence.description}}</textarea>       
                    </div>
                </div> 

                <div class="col-sm-1">
                    <select class="form-control" ng-options="sequence.name for sequence in listOfSequences" ng-model="selectedSequence" ng-change="chargeSelectedSequence()" ></select> 
                    <div ng-include src="'app/views/forms/Sequence_form.html'"></div>
                </div>

            </div>


            <div class="row">

                <!--  Topics Questions -->

                <div class="col-sm-6">
                    <div class="panel-primary panel-default">

                        <div class="panel-body">

                            <table class="table">
                                <thead>         
                                    <tr>
                                        <th>title</th>                                        
                                        <th>time</th>
                                        <th>points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="question in listOfQuestions| orderBy : 'position'" ng-click="selectQuestion(question)" ng-class ="{success: question.id == selectedQuestion.id}">                                                     
                                        <td>{{question.title}}</td>
                                        <td>{{question.timeToAnswer}}</td>  
                                        <td>{{question.points}}</td>
                                        <td><button id="addToSequence" name="addToSequence" class="btn btn-primary btn-sm pull-right glyphicon glyphicon-arrow-right"  ng-click="addToSequence(question)"/></td>
                                    </tr> 
                                </tbody>
                            </table> 
                        </div>
                    </div>
                </div>

                <!--  Sequence Questions -->

                <div class="col-sm-6">
                    <div class="panel-primary panel-default">

                        <div class="panel-body">


                            <table class="table">
                                <thead>         
                                    <tr>
                                        <th>title</th>
                                        <th>time</th>
                                        <th>points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="question in selectedSequence.questions| orderBy : 'positionInSequence'" ng-click="selectQuestion(question)" ng-class ="{success: question.id == selectedQuestion.id}">                                                     
                                        <td>{{question.title}}</td>
                                        <td>{{question.timeToAnswer}}</td>  
                                        <td>{{question.points}}</td>
                                        <td><button id="addToSequence" name="addToSequence" class="btn btn-danger btn-sm pull-right glyphicon glyphicon-remove"  ng-click="removeFromSequence(question)"/></td>
                                    </tr> 
                                </tbody>
                            </table>        
                        </div>
                    </div>
                </div>
        </section>
    </div>
</section>





