<!DOCTYPE html>
<section >
	<!-- -->

	<div class="row" >

	    <div class="col-sm-2">
                        <h6>Session Quiz:</h6>
			<div ng-include src="'app/views/forms/Session_form.html'"></div>
                     
	    </div>


            <section class="col-sm-10">          
                 <div class="col-sm-6">
                    <div class="panel-primary panel-default">

                        <div class="panel-body">


                            <table class="table">
                                <thead>         
                                    <tr>
                                        <th>title</th>
                                        <th>points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="question in selectedSequence.questions| orderBy : 'positionInSequence'" ng-click="selectQuestion(question)"  ng-class ="{success: question.id == selectedQuestion.id}">                                                     
                                        <td>{{question.title}}</td>
                                        <td>{{question.points}}</td>        
                                        <td><button id="addToSequence" name="addToSequence" class="btn btn-success btn-sm pull-right glyphicon glyphicon-play"  ng-click="runQuestion(question)"/></td>
                                    </tr> 
                                </tbody>
                            </table>        
                        </div>
                    </div>
                </div>
            </section>
	</div>
        
</section>
