<!DOCTYPE html>
<!-- Form Cours-->


    <script type="text/ng-template" id="messageModal.html">
        <div class="modal-header">
        <h3 class="modal-title"> {{response.status}}   </h3>
        </div>
        <div class="modal-body">
        <h3 class="modal-title"> {{response.statusText}}  </h3>

        </div>
        <div class="modal-footer">
        <button class="btn btn-info" type="acknowledge" ng-click="acknowledge()">acknowledge</button>
        </div>
    </script> 
   
