<!DOCTYPE html>
<!-- Form Cours-->




<script type="text/ng-template" id="questionPresentationModal.html"> 
        <div class="modal-header">
            <uib-progressbar max= "questionToAnswer.timeToAnswer" value="questionToAnswer.time" type="success" animate="false">
            <span style="color:white; white-space:nowrap;">
             
            </span></uib-progressbar>
          
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label" ><h5><strong>{{questionToAnswer.title }}</strong></h5></label>
            </div>
            <div class="form-group">
              <div ng-show = "questionToAnswer.question != '' && questionToAnswer.question != null " hljs hljs-source="questionToAnswer.question"></div>
            </div>
    
            <!-- Propositions -->
            <div class="form-group">
                    <div >                
                           <div ng-repeat="proposition in questionToAnswer.answers" class="checkbox ">
                                    <label class="control-label"><input type="checkbox"  ng-click=checkProposition(proposition)> {{proposition.text}} </label>                            
                           </div>                
                    </div>
            </div
        </div>
       
        <div class="modal-footer form-group">
            <button class="btn btn-primary" type="button" ng-click="cancel()">OK</button>     
        </div>
</script>


