<!DOCTYPE html>
<!-- Form Cours-->

<h6>Cours</h6>
<div class="btn-group-vertical">

	<script type="text/ng-template" id="modal_template.html">
                <div class="modal-header">
                <h3 class="modal-title">Cours form</h3>
                </div>
                <div class="modal-body">
      
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="validate()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
    </script>
	<button type="button" class="btn btn-primary pull-right"
		ng-click="open(10)">Create Cours</button>
	<button type="button" class="btn btn-primary pull-right"
		ng-click="open('edit', null)">Edit Cours</button>
	<button type="button" class="btn btn-primary pull-right"
		ng-click="remove()">Delete Cours</button>

</div>
