<!DOCTYPE html>
<!-- Form topic-->

    <script type="text/ng-template" id="topicModal.html">
             <div class="modal-header">
                <h3 class="modal-title"> {{action}} </h3>
                </div>
                <div class="modal-body">

                <div class="form-group ">
                    <label class="control-label " for="name">
                        Name
                    </label>
                    <input class="form-control" ng-model="topic.name" id="name" name="name" type="text"/>
                </div>
                <div class="form-group ">
                    <label class="control-label " for="message">
                        Description
                    </label>
                    <textarea class="form-control"  ng-model="topic.description"  cols="40" id="message" name="message" placeholder="description" rows="6"></textarea>
                </div>        

                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="validate()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
    </script>

